<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta property="og:description" content="{{description}}">
    <meta name="og:title" property="og:title" content="{{title}}">
    <!--Make this the pages url: ie: www.example.com/index.html-->
    <meta property="og:url" content="localhost:8080">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Have a look in templates/index.hbs , that is what you are seeing, bootstrap included</h2>
          <p><strong>{{pageName}}</strong> : is from data/index.json because of our npm run getData script</p>
          <p><strong>The following content piece comes from a JSON file (npm run getData) created from getData.js</strong></p>
          <p>{{content}}<p>
          <p>{{> testPart}} : is from partials/testPart.hbs<p>
          <p> <strong>{{# testHelper}}{{/ testHelper}}</strong> : is from helpers/testHelper.js</p>
          <img class="img-fluid" src="{{image.fields.file.url}}" alt="{{image.fields.description}}" title="{{image.fields.description}}"/>
          <img src="./assets/favicon.png" />
        </div>
      </div>
    </div>

  </body>
</html>
